body {
  margin: 0px;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.woff");
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("fonts/Roboto-BoldItalic.woff");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.woff");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.woff");
}

@font-face {
  font-family: "RebondGrotesque-Hairline";
  src: url("fonts/RebondGrotesque-Hairline.woff");
}

@font-face {
  font-family: "RebondGrotesque-BoldItalic";
  src: url("fonts/RebondGrotesque-BoldItalic.woff");
}

h1 {
  font-family: "RebondGrotesque-Hairline";
  font-size: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FFFFFF;
}

h2 {
  font-family: "RebondGrotesque-Hairline";
  font-size: 50px;
  color: #1B3965;
}

h3 {
  font-family: "Roboto-Light";
  font-size: 22px;
  color: #606161;
}

h4 {
  font-family: "Roboto-BoldItalic";
  font-size: 24px;
  color: #ffffff;
}

h5 {
  font-family: "RebondGrotesque-Hairline";
  font-size: 50px;
  color: #ffffff;
}

h6 {
  font-family: "Roboto-Light";
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
}

.cont-cabecera-vsf {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1B3965;
  line-height: 0px;
}

.cont-cabecera-vsf .cabecera-vsf-izq {
  width: 50%;
  height: auto;
}

.cont-cabecera-vsf .cabecera-vsf-izq img {
  width: 100%;
}

.cont-cabecera-vsf .cabecera-vsf-der {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont-cabecera-vsf .cabecera-vsf-der img {
  width: 300px;
  height: auto;
  margin-left: -50px;
  margin-top: -150px;
  z-index: 1000;
}

.cont-cabecera-vsf .shape-cabecera {
  -webkit-clip-path: polygon(95% 0%, 100% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(95% 0%, 100% 100%, 0% 100%, 0% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.cont-cabecera-vsf [class*='shape'] {
  float: left;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-franja-roja {
  width: 100%;
  height: 200px;
  background-color: #E8244D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.cont-franja-roja .franja-roja-izq {
  width: 50%;
}

.cont-franja-roja .franja-roja-izq img {
  width: 610px;
  height: 115px;
  margin-top: 120px;
}

.cont-franja-roja .franja-roja-der {
  width: 50%;
}

.cont-pc-vsf {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 3000;
  margin-top: -170px;
}

.cont-pc-vsf .pc-vsf {
  width: 500px;
  height: auto;
}

.cont-pc-vsf .pc-vsf img {
  width: 100%;
  height: auto;
}

.cont-norte {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -60px;
}

.cont-norte .norte-izq {
  width: 50%;
  text-align: right;
  padding: 70px 70px 70px 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-norte .norte-der {
  width: 50%;
}

.cont-norte .norte-der img {
  width: 100%;
  height: auto;
}

.cont-norte .texto-norte {
  position: absolute;
  z-index: 1000;
  text-align: left;
  padding: 30px 150px 70px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-norte .shape-norte {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 5% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 5% 100%, 0% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  position: relative;
}

.cont-norte [class*='shape'] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-ramsar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-ramsar .ramsar-izq {
  width: 50%;
  text-align: right;
}

.cont-ramsar .ramsar-izq img {
  width: 500px;
  height: auto;
}

.cont-ramsar .ramsar-der {
  width: 50%;
}

.cont-ramsar .ramsar-der .cont-cuadro-rojo {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 100px;
}

.cont-ramsar .ramsar-der .cont-cuadro-rojo .cont-texto-rojo {
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-ramsar .ramsar-der .cont-cuadro-rojo .shape-cuadro-rojo {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  background-color: #E8244D;
  position: relative;
}

.cont-ramsar .ramsar-der .cont-cuadro-rojo [class*='shape'] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-ciudades {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-ciudades .ciudades-izq {
  width: 50%;
  height: auto;
}

.cont-ciudades .ciudades-izq img {
  width: 100%;
  height: auto;
}

.cont-ciudades .ciudades-der {
  width: 50%;
  height: auto;
}

.cont-ciudades .shape-ciudades {
  -webkit-clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  position: relative;
}

.cont-ciudades [class*='shape'] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-franja-roja-localidad {
  width: 100%;
  height: auto;
  margin-top: -30px;
  z-index: 2000;
  position: relative;
}

.cont-franja-roja-localidad .franja-roja-localidad-izq {
  width: 60%;
}

.cont-franja-roja-localidad .franja-roja-localidad-izq h1 {
  font-family: "RebondGrotesque-Hairline";
  font-size: 87px;
  color: #ffffff;
  margin: 0px;
  text-align: right;
}

.cont-franja-roja-localidad .shape-franja-roja-localidad-izq {
  -webkit-clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  background-color: #E8244D;
  position: relative;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-franja-roja-localidad .franja-roja-localidad-der {
  width: 60%;
  margin-left: 40%;
}

.cont-franja-roja-localidad .franja-roja-localidad-der h1 {
  font-family: "RebondGrotesque-Hairline";
  font-size: 87px;
  color: #ffffff;
  margin: 0px;
  text-align: left;
}

.cont-franja-roja-localidad .shape-franja-roja-localidad-der {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  background-color: #E8244D;
  position: relative;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-franja-roja-localidad [class*='shape'] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-datos-localidad-izq {
  width: 100%;
  margin-top: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-datos-localidad-izq .datos-localidad-izq {
  width: 50%;
  text-align: right;
}

.cont-datos-localidad-izq .datos-localidad-izq img {
  width: 100%;
  height: auto;
}

.cont-datos-localidad-izq .datos-localidad-izq .cont-texto-localidad {
  padding: 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-datos-localidad-izq .datos-localidad-izq .shape-localidad-izq-blanco {
  -webkit-clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  padding: 50px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-datos-localidad-izq .datos-localidad-izq .shape-localidad-izq-azul {
  -webkit-clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  padding: 0px 50px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1B3965;
}

.cont-datos-localidad-izq .datos-localidad-izq .shape-ciudades {
  -webkit-clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  position: relative;
}

.cont-datos-localidad-izq .datos-localidad-izq [class*='shape'] {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-datos-localidad-izq .datos-localidad-der {
  width: 50%;
}

.cont-datos-localidad-izq .datos-localidad-der img {
  width: 100%;
  height: auto;
}

.cont-datos-localidad-izq .datos-localidad-der .cont-texto-localidad {
  padding: 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-datos-localidad-izq .datos-localidad-der .shape-localidad-izq-blanco {
  -webkit-clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 95% 100%, 0% 100%, 0% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  padding: 50px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-datos-localidad-izq .datos-localidad-der .shape-localidad-izq-azul {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  padding: 0px 0px 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1B3965;
}

.cont-datos-localidad-izq .datos-localidad-der .shape-ciudades {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 10% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 10% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  position: relative;
}

.cont-datos-localidad-izq .datos-localidad-der [class*='shape'] {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-vivi-viaje {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: -70px;
  z-index: 2000;
  position: relative;
}

.cont-vivi-viaje .shape-vivi-viaje {
  -webkit-clip-path: polygon(100% 0%, 90% 100%, 0% 100%, 10% 0%);
          clip-path: polygon(100% 0%, 90% 100%, 0% 100%, 10% 0%);
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  position: relative;
  background-color: #E8244D;
}

.cont-vivi-viaje .vivi-viaje {
  width: 500px;
  padding: 40px;
  background-color: #E8244D;
}

.cont-vivi-viaje .vivi-viaje h1 {
  font-family: "RebondGrotesque-BoldItalic";
  font-size: 70px;
  color: #ffffff;
  text-align: center;
}

.cont-footer {
  width: 100%;
  height: auto;
  padding: 100px 50px;
  margin-top: -80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("/img/notebook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cont-footer h1 {
  font-family: "Roboto-Medium";
  font-size: 37px;
  color: #ffffff;
  font-weight: normal;
}

.cont-footer h2 {
  font-family: "Roboto-Light";
  font-size: 37px;
  color: #ffffff;
  font-weight: normal;
}

.cont-footer h3 {
  font-family: "Roboto-Medium";
  font-size: 37px;
  color: #E8244D;
  font-weight: normal;
}

.cont-footer img#vsf-footer {
  width: 300px;
  height: auto;
  padding: 50px 0px;
}

.vsf-sellos {
  width: 100%;
  height: auto;
  padding: 30px;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #E8244D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vsf-sellos img#sello {
  width: 70px;
  height: auto;
  float: left;
  padding: 0px 20px;
}

.vsf-sellos p {
  font-family: "Roboto-Light";
  font-size: 19px;
  font-weight: normal;
  color: #ffffff;
}

.cont-btn-website {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -30px;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-btn-website .btn-website {
  width: 300px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff;
  text-align: center;
}

.cont-btn-website .btn-website a {
  text-decoration: none;
}

.cont-btn-website .btn-website h3 {
  font-family: "Roboto-Bold";
  font-size: 25px;
  font-weight: normal;
  color: #1B3965;
  margin: 0px;
  padding: 15px 0px;
}
/*# sourceMappingURL=estilos.css.map */